@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;1,700&family=Bad+Script&family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


body{
background: url(https://images8.alphacoders.com/429/thumb-1920-429202.jpg);
background-attachment: fixed;
margin: 3%;
}
#letra_inicio{
color:white;
font-family: 'lobster', cursive;
}
#letra_registro{
color: white;
margin-right: 250px;
font-family: 'lobster', cursive;
}

#boton_ini{
font-family: 'lobster', cursive;
}

#nosotros{
font-family: 'lobster', cursive;
}

#productos{
font-family: 'lobster', cursive;
}

#contactos{
font-family: 'lobster', cursive;
}
#buscar{
font-family: 'Lobster', cursive;
}
#boton_busc{
    font-family: 'Lobster', cursive;
}
#TITULO{
font-family: 'Lobster', cursive;
font-size: 29px;
}  

.Titulos{
text-align: center;
font-family: 'Lora', serif;
background: url(https://www.colorazul.top/wp-content/uploads/2020/04/Azul-%C3%8Dndigo.jpg);
color: #F3950D;
margin: 20px;
font-size: 50px;
border-radius: 10px;
border-width: 200px;
}
.TitulosDos{
text-align: center;
margin: 15px;
color: rgb(255, 255, 255);
font-family: 'Lora', serif;
font-size: 30px;
color: #F3950D;
}

.parallaUNO {
background-image: url(https://image.freepik.com/vector-gratis/fondo-textura-fibra-carbono-azul_1035-18456.jpg);
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
.parallaxDos {
background-image: url(https://media.istockphoto.com/illustrations/blue-carbon-fiber-texture-illustration-id931227126?k=6&m=931227126&s=170667a&w=0&h=3kn9mvePr_B9g1aEG04NajygHEA_cQghWyDUYINxjo4=);
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
margin-top: -20px;
}
.ListaGeneral{
margin: 10px;
font-size: 20px;
margin-bottom: -13px;
padding: 1px;
font-weight: 100;
font-family: 'Lora', serif;
}
.creadores_web{
height: 42px; 
width: 1902px; 
margin-top: -0.9em; 
background-color:#60371E; 
max-width: 100%;
}
.texto_creadores{
margin-top: 1em; 
color: #F3950D;
}
#navegador{
background-color: gray
}
#fotocarrusel{
border-radius: 20px;
width: 100px;
height: 550px;
max-width: 100%;
}
.fondoWebsec{
background: url(https://image.freepik.com/foto-gratis/muro-cemento-gris-oscuro-fondo-sucio-imagen_34936-1541.jpg);
max-width: 100%;
max-height: 100%;
border-radius: 20px;

}
.frase{
font-size: 30px;
text-align: center;
color: #F3950D;
font-family: 'Lora', serif;
}
.grid-container {
display: grid;
grid-template-columns: auto auto;
background-color: transparent;
margin-top: -20px;
}
.grid-item {
font-size: 30px;
text-align: center;
font-family: 'Lora', serif;
color: #F3950D;
padding: 10px;
}
#imagenbici{
    text-align: left;
    max-width: 100%;
    max-height: 100%;
    width: 200px;
}
img{
border-radius: 40px;
max-width: 100%;
}
#textoBici{
    text-align: center;
}
a{
color: #F3950D;
}
.ListaGeneral{
color: #F3950D;
margin: 10px;
font-size: 20px;
margin-bottom: -13px;
padding: 1px;
font-weight: 100;
font-family: 'Lora', serif;
}
.creadores_web{
    background:black;
}