@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body{
background: url("https://images8.alphacoders.com/429/thumb-1920-429202.jpg");
background-attachment: fixed;
margin: 3%;

}

.img{
    max-width: 150%;
}

.form-register{
    width: 400px;
    background: rgb(191, 204, 7);
    padding: 25px;
    margin: auto;
    margin-top: 140px;
    border-radius: 4px;
    font-family: 'lobster', cursive;
    color: white;
    box-shadow: 7px 13px 37px #000;

}

.form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
    
}

.controls {
    width: 100%;
    background: #EFC88B;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #000000;
    font-family: 'lobster';
    font-size: 18px;
    color: white;
    
}

.form-register p{
height: 40px;
text-align:  center;
font-size: 18px;


}

.form-register a:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
    
}

.form-register .botons {
    width: 100%;
    background: #B47818;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
    
}

.form-register input[type="submit"]:hover{
    transform: scale(0.95);
    
}

.tabla_registro{
    margin-top: 100px;
}

.footer {

    padding: 1.5em;
    text-align: center;
    background-color: #60371E;
    font-family: 'lobster', cursive;
}

#TITULO{
font-family: 'Lobster', cursive;
font-size: 29px;
}  
/* link contacto*/


#link_iniciar_sesion{
    font-family: 'Cabin', sans-serif;
    
}

#link_registro{
    font-family: 'Cabin', sans-serif;
    
}
/*LETRA BOTON INICIO SESION*/
#letra_inicio{
    color:white;
    font-family: 'lobster', cursive;
    
}
/* LETRA REGISTRO BOTON*/
#letra_registro{
    color: white;
    font-family: 'lobster', cursive;
    margin-right: 180px;
}    

#logo{
    margin-right: 10px;
}

ul{
    font-family: 'lobster', cursive;
    margin-left: 40px;
}

form{
    font-family: 'lobster';
}

.clear{clear:both;}

.separar{
    margin-right: 10px;
    
}

form .error{
    color: #ff0000;
    font-family: 'Roboto', sans-serif;
  }

#navegador{
background-color: gray
}

@media screen and (max-width:500px) {     .grid-container {         display: flex;         flex-direction: column;     } }